<h1>
  <% if user_signed_in? %>
    Bienvenido, <%= current_user.email %>!
  <% else %>
    Bienvenido, visitante!
  <% end %>
</h1>
<p>
  <% if user_signed_in? %>
    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, data: { turbo_method: "delete" } %>

  <% else %>
    <%= link_to "Iniciar sesión", new_user_session_path %> |
    <%= link_to "Registrarse", new_user_registration_path %>
  <% end %>
</p>